RESEARCH_SCOPE=all_personnel
BEFORE_OSS_CONTACT_EMAIL=
NARA_API_BASE_URL=https://catalog.archives.gov/api/v2
NARA_API_KEY=
NARA_API_ENABLED=true
NARA_API_MONTHLY_HARD_LIMIT=10000
NARA_API_MONTHLY_SOFT_LIMIT=9000
NARA_API_TIMEOUT_SECONDS=30
NARA_API_MAX_RETRIES=5
NARA_API_MAX_CONCURRENCY=2
NARA_API_PER_RUN_QUERY_BUDGET=500
LOC_API_BASE_URL=https://www.loc.gov
LOC_API_TIMEOUT_SECONDS=30
LOC_API_MAX_RETRIES=3
CIA_READING_ROOM_BASE_URL=https://www.cia.gov/readingroom
BEFORE_OSS_SITE_TITLE=Before OSS
BEFORE_OSS_SITE_SUBTITLE=The Employers and Institutions Behind America's Wartime Intelligence Service
PUBLIC_BASE_PATH=/before-oss
